/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* Componenti */
.hidden {
  display: none;
}

.visible {
  display: block;
}
/* Fine Componenti */

/* INIZIO MAIN */
main {
  background-color: #b91550;
  height: 600px;
}

h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

section {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}

.form-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 2px #8c0f3e;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.form-item {
  margin: 0 20px;
}

.biglietto {
  background-color: white;
  height: 180px;
  width: 100%;
  padding: 20px;
}

.nome, .info {
  float: left;
  height: 100px;
}

.nome {
  background-color: #7f7f7f;
  color: black;
  width: 30%;
}

.info {
  width: 70%;
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
}

.info > div {
  padding-right: 10px;
}
/* FINE MAIN */
