/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* Regole Generali */
body {
  font-family: 'Roboto', sans-serif;
}
/* Fine Regole Generali */

/* Componenti */
.hidden {
  display: none;
}

.visible {
  display: block;
}
/* Fine Componenti */

/* INIZIO MAIN */
main {
  background-color: #b91550;
  height: 600px;
}

section {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}

h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* Inizio Prima Section */
/* Form */
.form-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 2px #8c0f3e;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.form-item {
  margin: 0 20px;
}

.form-item label {
  color: #b91550;
  font-size: 0.9em;
}

.form-item input,
.form-item select {
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #b91550;
  margin-top: 10px;
}

/* Buttons */
.buttons button {
  padding: 5px;
  border-radius: 3px;
  font-weight: 900;
  color: #b91550;
  background-color: lightgrey;
  margin-left: 10px;
}

.buttons button:active {
  color: white;
  background-color: grey;
}
/* Fine Prima Section */

/* Inizio Seconda Section */
/* BIGLIETTO */
.biglietto {
  background-color: white;
  height: 180px;
  width: 100%;
  padding: 20px;
}

.biglietto h3,
.nome,
.info > div p:first-child {
  font-weight: 800;
}

.biglietto h3,
.nome p:first-child {
  text-transform: uppercase;
}

.nome, .info {
  float: left;
  height: 100px;
}

/* Nome */
.nome {
  background-color: #7f7f7f;
  color: black;
  width: 30%;
  padding:10px;
}

/* Info */
.info {
  width: 70%;
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
}

.info > div {
  padding-right: 15px;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Fine Seconda Section */
/* FINE MAIN */
