/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* INIZIO MAIN */
main {
  background-color: #b91550;
}

h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

section {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}

.form-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 2px #8c0f3e;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.form-item {
  margin: 0 20px;
}
/* FINE MAIN */
